.Low{
	background-color: #006600 !important;
}
.Medium{
	background-color: #ffff00 !important;
}
.High{
	background-color: #ff0000 !important;
}
/*Override*/
.collection {
	overflow: visible !important;
}